<li id="fountain-menu">
  <a id="exportfountaina" class="grouped-left" title="Export Fountain" target="_blank">
    <span class="buttonicon buttonicon-file-code" id="exportfountain"></span>
  </a>
</li>
<style>
#exportfountain:before {
  content: "F";
  font-family: 'Courier Prime', 'Courier New', monospace;
  font-weight: bold;
  font-size: 14px;
}
</style>
