<li id="fountain-mode-button" class="separator">
  <a class="grouped-left" title="Fountain Mode" data-l10n-id="ep_fountain.fountain_mode">
    <span class="buttonicon fountain-icon">F</span>
  </a>
</li>
